<header class="site-header">

    <!-- Logo and title -->
    <div class="branding">
        <a href="{{ '/' | relative_url }}">
            <img alt="logo img" class="avatar" src="{{ site.data.variables.avatar | relative_url }}" />
        </a>

        <div class="site-title-block">
            <h1 class="site-title">
                <a aria-label="{{ site.data.variables.title }}" href="{{ '/' | relative_url }}">
                    {{ site.data.variables.title }}
                </a>
            </h1>
            {% if site.data.variables.subtitle and site.data.variables.subtitle != '' %}
            <p class="site-subtitle">{{ site.data.variables.subtitle }}</p>
            {% endif %}
        </div>
    </div>

    <!-- Toggle menu -->
    <nav class="clear">
        <a aria-label="pull" id="pull" class="toggle" href="#">
            <i class="fa fa-bars fa-lg"></i>
        </a>

        <!-- Menu -->
        <ul class="hide">
            {% for page_name in site.data.navlinks.page_ordering %}
            {% assign page = site.pages | where: "title", page_name | first %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}"
                    href="{{ page.url | relative_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endfor %}
        </ul>

    </nav>
</header>
